{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block main %}
<div class="display-error">
    <h1>Oops! Page Not Found</h1>
    <br>
    <p>We can't seem to find the page you're looking for.</p>
    <p>It might have been removed, had its name changed, or is temporarily unavailable.</p>
    <p><a href="{{ url_for('index') }}">Go to Home Page</a></p>
</div>
<img class="anya-error" src="{{ url_for('static', filename='/img/Spy-X-Family-anya-crying.png') }}" alt="anya crying">


{% endblock %}