{% extends "layout.html" %}

{% block title %}
    {{data['title']['romaji']}}
{% endblock %}

{%block header%}
<header class="backgroundinfo" style="background-image: url('{{banner}}');">
    <div class="shadow"></div>
</header>
<div class="header animeinfoheader">
    <nav class="navbar navbar-expand-lg navbar-dark prueba">
        <a class="logoat navbar-brand logo" href="/">AT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/seasons">Seasons<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Schedule</a>
            <a class="nav-item nav-link" href="/anime">Search Anime</a>
            <a class="nav-item nav-link push" href="#">About</a>
            <form action="/anime" method="get" class="searchanime push" id="globalsearch"">
              <input type="text" name="title" autocomplete="off" placeholder="Anime">
              <button type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</div>
{%endblock%}

{% block main %}

    <div class="animeinfo-container">
        <div class="animeinfo-content leftco">
            <div class="animecoverimage">
                <img src="{{data['coverImage']['extraLarge']}}" alt="Cover image of anime {{data['title']['romaji']}}">
            </div>
            
            <section class="specification section-part">
                <div class="animeinfospecs"> 
                    <span class="darkspan">Japanese title: </span>
                    {{data['title']['native']}}
                </div>
                <div class="animeinfospecs"> 
                    {% if data['type'] == 'MANGA' %}
                        <span class="darkspan">Chapters: </span>
                        {{ data['chapters'] }} 
                    {% else %}
                        <span class="darkspan">Episodes: </span>
                        {{ data['episodes'] }}
                    {% endif %}
                </div>
                <div class="animeinfospecs"> 
                    <span class="darkspan">Started airing: </span>
                    {{data['startDate']['day']}}-{{data['startDate']['month']}}-{{data['startDate']['year']}}
                </div>
                <div class="animeinfospecs"> 
                    <span class="darkspan">Ended airing: </span>
                    {% if not data['endDate']['day'] or not data['endDate']['month'] or not data['endDate']['year']%}
                        Ongoing
                    {% else %}
                        {{data['endDate']['day']}}-{{data['startDate']['month']}}-{{data['endDate']['year']}}
                    {% endif %}
                </div>
                <div class="animeinfospecs"> 
                    {% if data['type'] == 'ANIME' %}     
                            <span class="darkspan">Studio: </span>
                            {{data['studios']['edges'][0]['node']['name']}}
                    {% endif %}
                </div>
                <div class="animeinfospecs"> 
                    <span class="darkspan">Source: </span>
                    {{data['source']}}
                </div>
                
            </section>
        </div>
        <div class="animeinfo-content middleco">
            <section class="animetitles section-content">
                <h1>{{data['title']['romaji']}}</h2>
                <h5>{{data['title']['english']}}</h2>
            </section>
            <section class="animedescription section-content">
                <p>{{data['description'] | safe}}</p>
            </section>
            <section class="genre-season section-content ">
                <div class="fixanimegenre">
                    <h4>Genres</h4>
                    <div class="animegenres section-part">
                        {% for genre in data['genres'] %}
                        <div class="tag-div">
                            <span class="tag-content purple">{{genre}}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="animeseason section-part">
                    <h4>Season</h4>
                    <div class="tag-div">
                        <span class="tag-content blue">{{data['season']}} {{data['seasonYear']}}</span>
                    </div>
                </div>
                <div class="animetype section-part">
                    <h4>Type</h4>
                    <div class="tag-div">
                        <span class="tag-content">{{data['type']}}</span>
                    </div>
                </div>
                <div class="animeformat section-part">
                    <h4>Format</h4>
                    <div class="tag-div">
                        <span class="tag-content">{{data['format']}}</span>
                    </div>
                </div>
                <div class="animestatus section-part">
                    <h4>Status</h4>
                    <div class="tag-div">
                        {% if data['status'] == 'FINISHED' %}
                            <span class="tag-content red">{{data['status']}}</span>
                        {% else %}
                            <span class="tag-content green">{{data['status']}}</span>
                        {% endif %}
                    </div>
                </div>
            </section>
            <section class="avgpopularity section-part centercontent">
                <div class="popularity">
                    <h4>Popularity</h4>
                    <div class="tag-div">
                        <span class="tag-content">{{data['popularity']}}</span> 
                    </div>
                </div>
                <div class="score">
                    <h4>Score</h4>
                    <div class="tag-div">
                        <span class="tag-content">{{data['averageScore']/10}}</span>
                    </div>
                </div>
            </section>
        </div>
        <div class="animeinfo-content rightco">
            <h3>Relations</h3>
            {% for anime in data['relations']['edges'] %}
                {% if loop.index <= 4 %}
                <a href="{{ anime['node']['id'] }}"> 
                    <div class="relationanime">
                        <div class="relationimage">
                            <img src="{{anime['node']['coverImage']['medium']}}" alt="image of {{anime['node']['title']['romaji']}}">
                        </div>
                        <div class="relationinfo">
                            <h6>{{anime['node']['title']['romaji']}}</h6>
                            {% if anime['node']['format'] == 'MANGA' %}
                                <span>{{ anime['node']['chapters'] }} chapters</span>
                            {% else %}
                                <span>{{ anime['node']['episodes'] }} episodes</span>
                            {% endif %}
                            <hr>
                            <span>{{anime['node']['format']}}</span>
                        </div>
                    </div>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
{% endblock %}