{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <form action="{{url}}" method="get" class="searchanime">
        <input type="text" name="title" autocomplete="off" placeholder="Title" class="inputradius">
        <select name="selectgenre" id="selectgenre" class="selectgenre inputradius button-search">
            <option value="" selected>Any</option>
            {% for genre in data['genres'] %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="page" value="{{ page }}">
        <button type="submit" class="submitbutton button-search">Search</button>
    </form>
    <div id="anime-search">
        {% for anime in data['anime_data'] %}
        
            <div class="animeresults resize-600w resize-600h">
                <div class="animecontent resize-600w resize-600h">
                    <a href="anime/{{ anime['id'] }}">
                        <img src="{{anime['coverImage']['large']}}" alt="anime cover image" class="imgsearch resize-600w resize-600h">
                        <div class="overlay-text resize-600w ">
                            <h6>{{anime['title']['romaji']}}</h6>
                        </div>
                        <div class="hover-text resize-600w resize-600h">
                            <!--
                            <div class="hover-specs">
                                <h6>{{anime['episodes']}} Episodes</h6>
                            </div>
                            -->
                        </div>
                        <div class="animesearchinfo">
                            <p>{{anime['seasonYear']}}</p>
                            
                        </div>
                    </a>
                </div>
                <!--
                <div class="extras">
                    {% for genre in anime['genres'] %}
                        <span class="genres">{{genre}}</span>
                    {% endfor %}
                </div>
                -->
            </div>
        
        {% endfor %}
    </div>
    
    <div class="nextpage">
        {% if prev_page_url %}
            <a href="{{ prev_page_url }}" class="pages">Previous Page</a>
        {% endif %}

        {% if next_page_url %}
            <a href="{{ next_page_url }}" class="pages">Next Page</a>
        {% endif %}
    </div>
    
    <div>{{data['page_info']['lastPage']}}</div>
    
{% endblock %}
<!-- 
<div class="animesearchinfo">
    <p>{{anime['seasonYear']}}</p>
    <p>{{anime['episodes']}} Episodes</p>
</div>-->
