{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
<div class="seasons">
    <form method="post" action="/gotoseason" class="getseason">
        
        <div class="seasonoption">
            <label for="season">Season</label>
            <select name="season" id="season" required>
                
                {% if form_data['season'] %}
                    <option value="{{ form_data['season'] }}" selected>{{ form_data['season'].lower().capitalize() }}</option>
                    {% for season in seasons %}
                        {% if season != form_data['season'].upper() %}
                            <option value="{{ season.lower() }}" >{{ season.lower().capitalize() }}</option>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <option value="" disabled selected>Select Season</option>
                {% endif %}
                
            </select>
        </div>
        <div class="seasonoption">
            <label for="yearint">Year</label>
            <select name="yearint" id="yearint" required>
                
                {% if form_data['year'] %}
                    {% for n in range(date['year'] + 1, 1949, -1) %}
                        <option value="{{ n }}" {% if n == form_data['year'] %}selected{% endif %}>{{ n }}</option>
                    {% endfor %}
                {% else %}
                    <option value="" disabled selected>Select Year</option>
                    {% for n in range(date['year'] + 1, 1949, -1) %}
                        <option value="{{ n }}">{{ n }}</option>
                    {% endfor %}
                {% endif %}
                
                
            </select>
        </div>
        <div class="seasonoption">
            <label for="format">Format</label>
            <select name="format" id="format">
                
                {% if form_data['season'] %}
                    <option value="{{ form_data['format'] }}" selected>{{ form_data['format'].lower().capitalize() }}</option>
                {% else %}
                    <option value="" selected>Select Format</option>
                {% endif %}
                
                {% for format in formats %}
                        {% if format != form_data['format'].upper() %}
                            <option value="{{ format.upper() }}" >{{ format.lower().capitalize() }}</option>
                        {% endif %}
                    {% endfor %}  
            </select>
        </div>
        <div class="seasonoption submitbutton-div " id="button-season">
            <button class="submitbutton">Go to Season</button>
        </div>
    </form>
</div>
    <h2 class="season-title">{{ title }}</h2>
    <div class="animecontainer" id="seasonalanime">
        {% for anime in data['anime_data'] %}
        
            <div class="animeshows">
                <div class="animecontent">
                    <a  href="/anime/{{anime['id']}}"><img src="{{anime['coverImage']['large']}}" alt="anime cover image"></a>
                    <div class="animeinfo">
                        <div class="animetitle">
                            <a class="anchorstyle" href="/anime/{{anime['id']}}"><h6>{{anime['title']['romaji']}}</h6></a>
                        </div>
                        <hr>
                        <div class="animedescription">
                            <p>{{anime['description'] | safe}}</p>
                        </div>
                    </div>
                </div>
                <div class="extras">
                    {% for genre in anime['genres'] %}
                        {% if loop.index < 4 %}
                            <div class="tag-div"><a class="anchorstyle" href="/anime?selectgenre={{genre}}"><span class="genres purple">{{genre}}</span></a></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        
        {% endfor %}
    </div>
{% endblock %}
