{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div class="seasons">
        <form method="post" action="/gotoseason" class="getseason">
            <div class="seasonoption">
                <label for="season">Select a Season</label>

                <select name="season" id="season" required>
                <option value="" selected disabled>Season</option>
                <option value="winter">Winter</option>
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>
                <option value="fall">Fall</option>
                </select>
            </div>
            <div class="seasonoption">
                <label for="yearint">Select a Year</label>
                <select name="yearint" id="yearint" required>
                    <option value="" selected disabled>Year</option>
                    {% for n in range(2024, 1949 , -1)%}
                        <option value="{{n}}">{{n}}</option>
                    {% endfor %}
            </select>
            </div>
            <div class="seasonoption">
                <label for="format">Format</label>
                <select name="format" id="format">
                    <option value="TV" selected >TV</option>
                    <option value="MOVIE" >Movies</option>  
                    <option value="OVA" >OVA</option>
                    <option value="TV_SHORT" >TV Short</option>
                    <option value="ONA" >ONA (Original Net Animation)</option>
                    <option value="SPECIAL">Special</option>    
                </select>
            </div>
            <div class="seasonoption">
                <button class="submitbutton">Go to Season</button>
            </div>
        </form>
    </div>
    <h2 class="season-title">{{ title }}</h2>
    <div class="animecontainer" id="seasonalanime">
        {% for anime in data['anime_data'] %}
        
            <div class="animeshows">
                <div class="animecontent">
                    <img src="{{anime['coverImage']['large']}}" alt="anime cover image">
                    <div class="animeinfo">
                        <div class="animetitle">
                            <h6>{{anime['title']['romaji']}}</h6>
                        </div>
                        <hr>
                        <div class="animedescription">
                            <p>{{anime['description']}}</p>
                        </div>
                    </div>
                </div>
                <div class="extras">
                    {% for genre in anime['genres'] %}
                        <span class="genres">{{genre}}</span>
                    {% endfor %}
                </div>
            </div>
        
        {% endfor %}
    </div>
{% endblock %}
