body {
    font-family: Sans-serif;
    background-color: rgb(237,241,245);
    padding: 0;
}

.header {
    background-color: #2b2d42;;
    width: 100%;
    padding-bottom: 5vh;
}

.prueba {
    font-size: 1.5em;
}

.logoat {
    font-size: 3em !important;
    padding-left: 1em;
}

.navbar-nav a {
    margin-left: 2em;
}

/* allseasons */
.getseason {
    margin-top: 1rem;
    display: flex;
    margin-left: 3em;
    margin-bottom: 1rem;
}
.seasonoption{
    margin-left: 3em;
}