body {
    font-family: 'Open Sans', Sans-serif!important;
    background-color: #121212!important;
    
    padding: 0;
}
hr {
    margin: 0 !important;
    background-color: grey;
}

.container {
    
}

.centercontent {
    text-align: center;
}
.header {
    background-image: linear-gradient(#222, #2c2a2a);
    width: 100%;
    padding-bottom: 1vh; 
    border-bottom: 2px solid black;
}
#globalsearch {
    margin-top: 0;
    display: none;
}
.push {
    margin-left: auto;
}

.prueba {
    font-size: 1.5em;
}

.logoat {
    font-size: 3em !important;
    padding-left: 1em;
}

.navbar-nav a {
    margin-left: 2em;
}

/* seasons */

main {
    margin: 2em 3%;
}
.getseason {
    margin-top: 1rem;
    display: flex;
    margin-right: 2em;
    margin-bottom: 2.5rem;
    justify-content: center;
    color: #fff;
}
.seasonoption{
    margin-left: 5em;
    display: flex;
    flex-direction: column;
}
.seasonoption label {
    font-weight: 500;;
}
.seasonoption select{
    border-radius: 1.5em;
    height: 2em;
    width: 10em;
    font-size: 20px;
    padding-left: 10px;
}
#format {
    width: 10em;
}
.submitbutton-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.submitbutton {
    border-radius: 1.5em;
    height: 2em;
    width: 10em;
    font-size: 20px;
}
.season-title{
    text-align: center;
    color: #fff;
}
.animecontainer{
    margin: 3em 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#seasonalanime {
    margin: 2.5em 0;
    color: #fff;
}
.animeshows{
    display: flex;
    margin: 1em;
    width: 550px;
    block-size: fit-content;
    flex-direction: column;
    align-items: flex-start;
    height: 390px;
    margin-bottom: 50px;
    padding: 1em;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #212121;
}
.animeshows img{
    height: 325px;
    width: 232px;
}
.animecontent{
    display:flex;
    flex-direction: row;
}
.animeinfo{
    margin-left: 0.5rem;
    padding-left: 0.5em;
    max-height: 325px;
    overflow: auto;
}
.animeinfospecs {
    padding-left: 5px;
}
.animetitle{
    display: flex;
    align-items: center;;
    text-align: justify;
    min-height: 40px;
    max-height: 80px;
    margin-bottom: 0;
}
.animedescription {
    
    overflow-y: hidden;

}
.animedescription p {
    margin: 0;
    padding: 0; 
    overflow-y: auto;
    
}
.extras {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
    margin-top: 0.5em;
}
.genres {
    border: 1px solid grey;
    border-radius: 2em;
    padding: 0.25em 0.3em;
    margin-right: 0.5em;
    font-size: 14px;
    text-decoration: none !important; /* Remove underline */
    color: #fff !important; /* Inherit color from parent */
}

/* anime.hmtl */
.inputradius {
    border-radius: 2em;
    padding: 5px;
    padding-left: 10px;
}
.searchanime {
    margin-top:2em;
    margin-left: 10%;
    margin-right: 10%;
}
.searchanime input {
    width: 20em;
}
#anime-search {
    margin: 3em 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    column-gap: 2em;
    align-items: center;
    justify-content: center;
    transition: width 0.3s, height 0.3s;
}
.button-search{
    margin-left: 2em;
}

.animeresults {
    display: flex;
    position: relative;
    margin: 1.5em 1em;
    /*border: 1px solid black;*/
    border-radius: 1rem;
    width: 236px;
    justify-self: center;
}
.animeresults:hover{
    transform: scale(1.1);
 }


.imgsearch {
    border-radius: 1rem;
    height: 327px;
    width: 236px;
}

.overlay-text {
    position: absolute;
    width: 236px;
    bottom: -2px; 
    color: white; 
    font-size: 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 5px;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
}
.overlay-text a {
    color: white;
}
.overlay-text:hover {
    display: none;
}
.overlay-text a:hover {
    color: rgb(212, 207, 207);
}

.hover-text {
    height: 100%;
    width: 236px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.hover-text:hover {
   /* opacity: 0.4; */

}
.hover-specs {
    position: absolute;
    top: 50%;
    left: 0%;
}

.animesearchinfo {
    position: absolute;
    width: auto;
    top: 0px; 
    color: white; 
    font-size: 13px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-top-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
}
.animesearchinfo p{
    margin: 0;
}
.nextpage {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pages {
    border-radius: 5px;
    width: 5em;
    height: 4em;
    background-color: red;
    margin: 0 0.7em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pages a {
    color: inherit!important;
    text-decoration: none !important;
}
.pages a:hover {
    color: inherit;
    text-decoration: none !important;
}
/* Animeinfo */
.backgroundinfo {
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: -58px;
}
.shadow {
    background: linear-gradient(180deg,rgba(6,13,34,0) 40%,rgba(6,13,34,.6));
    height: 100%;
    width: 100%;
}
.animeinfoheader {
    position: absolute;
    top: 0;
    opacity: 0.55;
    transition: opacity 0.3s ease;
}
.animeinfoheader:hover {
    opacity: 0.95;
}
.animeinfo-container {
    margin: 2em 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.animeinfo-content {

}
.animeinfo-content a {
    text-decoration: none !important; /* Remove underline */
    color: inherit !important; /* Inherit color from parent */
}
section{
    padding: 5px;
    background-color: #262626;
    border-radius: 10px;
    color: #fff;
}
.section-content {
    margin-bottom: 1em;
}
.leftco {
    flex: 0 0 300px;
    position: relative;
    top: -170px;
}
.animecoverimage {
    margin-bottom: 1em;
}
.animecoverimage img{
    width: 300px;
    
}
.middleco {
    margin: 0 1em;
    width: 55%;
    flex: 1
}
.rightco {
    flex: 0 0 330px;
    height: 100%;
    max-height: 630px;
}
.rightco h3 {
    text-align: center;
    color: white;
    width: 100%;
}
.genre-season {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.green {
    background-color: rgb(48, 103, 48)!important;
}
.red {
    background-color: rgb(90, 27, 27)!important;
}
.blue {
    background-color: rgb(42, 42, 149)!important;
}
.purple {
    background-color: #4d2f5f!important;
}
.tag-content {
    border: 1px solid grey;
    border-radius: 2em;
    padding: 0.25em 0.35em;
    margin: 0.3em;
    font-size: 16px;
}

.tag-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.animeformat {
    
    
}
.section-part {
    padding-bottom: 0.3em;
    padding-right: 0.2em;
    padding-left: 0.2em;
    
}
.animeseason {
    
}
.animetype {
    
}
.animegenres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-around;
}
@media only screen and (max-width: 1400px) {
    .fixanimegenre {
        width: 100%;
    }
    .animegenres {
        justify-content: center;
    }
}

.avgpopularity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.avgpopularity .tag-content{
    font-size: 20px;
}
.darkspan{
    font-weight:  bold;
    font-size: 20px;
}
.relationanime{
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #262626;
    height: 152px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.relationimage img{
    height: 150px;
    width: 100px;
}
.relationinfo {
    width: 100%;
    padding-left: 0.5em;
    padding: 0.5em;
}
@media only screen and (max-width: 800px) {
    .animeresults {
      margin: 1em 0.1em;
    }
    .resize-600w{
        width:189px!important;
    }
    .resize-600h{
        height: 261px!important;
    }
    .animeresults:hover {
        transform: scale(1.2);
      }
      
    .animecontainer{
        margin: 2em 2%;
        column-gap: 2em;
    }
    #anime-search {
        column-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(189px, 1fr));
        margin: 3em 3%;
    }
    
  }
  @media only screen and (max-width: 1000px) {
    .leftco {
        position: inherit;
    }
  }
  @media only screen and (max-width: 1200px) {
    .animeinfo-container {
        margin: 1em 2%;
    }

    .rightco {
        flex-basis: 100%; 
        margin-right: 0; 
        margin-top: 1em;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .relationanime{
        width: 328px;
        border-right: 1px solid black;
    }
    .searchanime {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-end;
        
    }
    .submitbutton {
        margin-top: 1.5em;
    }
    #selectgenre {
        margin-top: 1.5em;
        height: 40px;
    }
}
@media only screen and (max-width: 600px) {
    .animeinfo-container {
        justify-content: center;
    }
    .leftco {
        flex: 1;
        
        display : flex;
        margin-bottom: 1em;
        justify-content: center;
        padding: 5px;
    }
    .animecoverimage img {
        width: 185px;
        height: 257px;
    }
    .animecoverimage  {
        width: fit-content;
        height: fit-content;
    }
    .specification {
        min-width: 220px;
        margin-left: 1em;
        padding-right: 0.5em;
        padding-left: 0.2em;
    }
    .searchanime {
        margin-left: 0;
        justify-content: center;
    }
    .button-search {
        margin-left: 0;
        margin: 0.5em;
    }
}